---
---

@import 'vars';
@import 'mixins';
@import 'animations';

html,
body {
  height: 100%;
  background-color: $background;
}

* {
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background: $highlight;
}

::-moz-selection {
  background: $highlight;
}

@import 'home';
@import '404';