@keyframes verticalReveal {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@keyframes horizontalReveal {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}