#page {
  position: relative;
  overflow-x: hidden;
  background-color: $background;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  #home {
    z-index: 1;
    margin: 0 auto;
    @include flexbox;
    max-width: 1280px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 100vh;
    #content {
      flex: 1;
      @include flexbox;
      font-family: $sans-serif-font;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 100;
      #text {
        z-index: 1000;
        @include flexbox;
        flex-direction: column;
        position: relative;
        flex: 0 0 auto;
        left: 3.5%;
        .reveal {
          @include flexbox;
          flex-direction: column;
        }
        .line {
          display: block;
          position: relative;
          margin: 5px auto 0 0;
          background-color: $background;
          padding: 0 15px;
          &::before {
            width: 100%;
            height: 100%;
            background-color: $black;
            animation: horizontalReveal 0.5s 0.75s ease forwards;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            display: block;
            z-index: 10;
          }
          &::after {
            width: 100%;
            height: 100%;
            background-color: $background;
            animation: horizontalReveal 0.25s 0.5s ease forwards;
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            display: block;
            z-index: 100;
          }
        }
        h2 {
          color: $black;
          font-size: 6em;
        }
        p {
          font-size: 1.4em;
          margin-top: 35px;
          color: rgba($black, 0.8);
          font-family: $serif-font;
          font-weight: normal;
          .line {
            padding: 5px 15px;
          }
          a.starling {
            color: $black;
            text-decoration: none;
            position: relative;
            z-index: 1;
            &::before {
              content: '';
              height: 20%;
              background-color: #50e3c2;
              transition: .2s height;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              z-index: -1;
            }
            &:hover::before {
              height: 50%;
            }
          }
        }
        .link {
          height: 40px;
          a {
            opacity: 0;
            border: none;
            outline: none;
            color: $black;
            margin-top: 75px;
            position: relative;
            transition: .35s padding-bottom, .35s border-bottom-color;
            animation: fadeIn 0.5s 2.25s ease forwards;
            border-bottom: solid 2px $black;
            display: inline-block;
            text-decoration: none;
            padding-bottom: 5px;
            margin-right: auto;
            margin-left: 15px;
            font-size: 1.15em;
            font-weight: 600;
            z-index: 1;
            left: 0px;
            top: 0px;
            span {
              margin-left: 5px;
            }
            &:hover {
              padding-bottom: 10px;
              border-bottom-color: transparent;
            }
          }
        }
      }
      #image {
        height: 70%;
        position: relative;
        z-index: 1;
        left: -3.5%;
        &::before {
          width: 100%;
          height: 100%;
          background-color: $black;
          animation: verticalReveal 0.5s 1.75s ease forwards;
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          z-index: 10;
        }
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: $background;
          animation: verticalReveal 0.5s 1.5s ease forwards;
          position: absolute;
          z-index: 100;
          top: 0;
          left: 0;
        }
        img {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #page #home {
    align-items: flex-start;
    #content {
      padding: 15% 0;
      flex-direction: column;
      #image {
        width: 65%;
        order: 1;
        left: 0;
        margin-bottom: 5rem;
      }
      #text {
        order: 2;
        left: 0;
        h2 {
          font-size: 16vw;
        }
        .link {
          height: auto;
        }
      }
    }
  }
}